@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumSquareAcl";
  src: url("/fonts/NanumSquareOTF_acL.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareAcr";
  src: url("/fonts/NanumSquareOTF_acR.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareAcb";
  src: url("/fonts/NanumSquareOTF_acB.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareAceb";
  src: url("/fonts/NanumSquareOTF_acEB.otf") format("opentype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: "ghanachoco";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NanumSquareAcr";
}
